.Order{
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.Span {
    display: inline;
    text-transform: capitalize;
    border: 2px solid orange;
    padding: 5px;
    border-radius: 5px;
    color: orange;
    background-color: white;
    margin: 10px;
}